@font-face {
  font-family: 'OpenSans_Condensed-Regular', sans-serif;
  font-weight: 400;
  font-style: normal;
  src: local('OpenSans_Condensed-Regular'),
   url('../fonts/OpenSans_Condensed-Regular.woff') format('woff'),
   url('../fonts/OpenSans_Condensed-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'RobotoCondensed-Regular', sans-serif;
  font-weight: 400;
  font-style: normal;
  src: local('RobotoCondensed-Regular'),
   url('../fonts/RobotoCondensed-Regular.woff') format('woff'),
   url('../fonts/RobotoCondensed-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Rubik-Italic', sans-serif;
  font-weight: 400;
  font-style: normal;
  src: local('Rubik-Italic'),
   url('../fonts/Rubik-Italic.woff') format('woff'),
   url('../fonts/Rubik-Italic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Rubik-Light', sans-serif;
  font-weight: 300;
  font-style: normal;
  src: local('Rubik-Light'),
   url('../fonts/Rubik-Light.woff') format('woff'),
   url('../fonts/Rubik-Light.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
  font-style: normal;
  src: local('Rubik-Medium'),
   url('../fonts/Rubik-Medium.woff') format('woff'),
   url('../fonts/Rubik-Medium.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
  font-style: normal;
  src: local('Rubik-Regular'),
   url('../fonts/Rubik-Regular.woff') format('woff'),
   url('../fonts/Rubik-Regular.woff2') format('woff2');
  font-display: swap;
}