$accent: #FF6838;
$default: #31352B;
$title: #363853;
$bg: #F9FAFF;
$secondbg: #FFF;


%rubik-italic {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

%rubik-500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

%rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}