$accent: #FF6838;
$default: #31352B;
$title: #363853;
$text: #31352B;
$bg: #F9FAFF;
$second-def: #FFF;
$dots: #c2c2c2;
$circle: #ECECEC;
$style-btn: #FFF2ED;


%rubik-light {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

%rubik-medium {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

%rubik-italic {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%rubik-regular {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}