$accent: #FF6838;
$default: #31352B;
$title: #363853;
$text: #31352B;
$bg: #F9FAFF;
$second-def: #FFF;
$dots: #c2c2c2;
$circle: #ECECEC;


%rubik-italic {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

%rubik-500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

%rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}