@import 'reset';
@import 'fonts';
@import 'vars';
@import 'media';


@import 'global';

// header
.header {
  padding: 60px 0;
}

.menu {
  display: flex;

  &__logo {
    border-radius: 5px;
    margin-right: auto;
  }

  &__list {
    display: flex;
    align-items: center;
    margin-right: 62px;
  }

  &__item:not(:last-child) {
    margin-right: 40px;
  }

  &__link {
    border-radius: 5px;
    letter-spacing: 0.01em;
    color: $text;
    font-size: 18px;

    &--active {
      color: $accent;
    }
  }
}

.user-nav {
  display: flex;

  &__list {
    width: 44px;
    height: 44px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: relative;
    width: 44px;
    height: 44px;

    &:hover {
      .user-nav__btn {
        stroke: $second-def;
      }

      .user-nav__num {
        background-color: $second-def;
        color: $accent;
      }
    }

    &:focus {
      .user-nav__btn {
        stroke: $text;
      }

      .user-nav__num {
        background-color: $accent;
        color: $second-def;
      }
    }
  }

  &__btn {
    fill: none;
    stroke: $text;
    width: 20px;
    height: 20px;
    stroke-width: 1.5;
  }

  &__num {
    background-color: $accent;
    position: absolute;
    border-radius: 50%;
    padding: 1px 4px 0;
    top: 8px;
    left: 26px;
    font-size: 10px;
    color: $second-def;
  }
}

// --

// hero
.hero {
  padding-bottom: 60px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    align-self: center;
    max-width: 476px;
  }

  &__first {
    @extend %rubik-medium;
    font-size: 66px;
    text-transform: uppercase;
    color: $title;
    margin-bottom: 20px;
  }

  &__second {
    display: block;
    color: $accent;
  }

  &__text {
    max-width: 450px;
    margin-bottom: 20px;
    @extend %rubik-regular;
    font-size: 20px;
    line-height: 1.5;
    color: $text;
  }

  &__click {
    display: inline-block;
    background-color: $accent;
    border-radius: 6px;
    padding: 12px 32px;
    color: $second-def;
    margin-right: 25px;
  }

  &__secondclick {
    @extend %rubik-regular;
    border-radius: 5px;
    line-height: 1.5;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: $title;

    &:focus,
    &:hover,
    &:active {
      text-decoration: none
    }
  }

  &__img {
    max-width: 560px;
    width: 100%;
    height: 660px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

}

// --

// popular

.popular {
  text-align: center;

  &__btn {
    border-radius: 5px;
    line-height: 1.5;
    text-decoration-skip-ink: none;
    text-decoration-line: underline;

    &:hover {
      text-decoration-line: none;
    }
  }
}

.category {
  display: flex;
  justify-content: center;
  margin-bottom: 45px;

  &__item {
    margin-right: 20px;
  }

  &__icon {
    width: 44px;
    height: 44px;
    fill: $text;
    margin-right: 10px;
    transition: fill 0.5s;
  }

  &__btn {
    display: flex;
    align-items: center;
    background-color: $second-def;
    border-radius: 5px;
    padding: 13px 32px;

    &:hover,
    &:focus {
      .category__icon {
        stroke: $accent;
      }
    }

    &.mixitup-control-active {
      background-color: $accent;
      color: $second-def;
      box-shadow: none;
      transition: background-color 0.5s, box-shadow 0.5s, color 0.5s;

      .category__icon {
        fill: $second-def;
      }

      &:hover {
        .category__icon {
          transition: fill 0.5s;
          fill: $second-def;
        }
      }
    }
  }

}

.icon {
  width: 44px;
  height: 44px;
  margin-right: 10px;

  &--active {
    fill: $second-def;
  }
}

.product {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-bottom: 60px;

  &__item {
    max-width: 210px;
    width: 100%;
  }

  &-card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    background-color: $second-def;
    border-radius: 5px;
    padding: 15px;

    &__image {
      margin-bottom: 15px;
    }

    &__title {
      @extend %rubik-regular;
      font-size: 15px;
      margin-bottom: 10px;
    }

    &__price {
      @extend %rubik-medium;
      font-size: 20px;
      margin: auto 0 10px;
    }

    &__button {
      padding: 10px 20px;
      background-color: $accent;
      color: $second-def;
      border-radius: 5px;
      cursor: pointer;
      font-size: 14px;
    }
  }
}

// --

// features

.features {

  &__inner {
    display: flex;
    justify-content: space-evenly;
  }

  &__img {
    width: 440px;
    height: 585px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__content {
    max-width: 470px;
    width: 100%;
  }

  &__title {
    text-align: left;
    margin-bottom: 30px;
  }

  &__text {
    margin-bottom: 30px;
  }
}

.features__slogans {

  &--content {
    margin-bottom: 42px;
  }

  &--icon {
    width: 34px;
    height: 34px;
    margin-right: 30px;
  }

  &--text {

    &:not(:last-child) {
      margin-bottom: 20px;
    }

  }

  &--btn {
    background-color: $accent;
    padding: 12px 32px;
    border-radius: 5px;
    color: $second-def;
  }
}

// ---
// footer

.footer {

  &-top {
    display: flex;
    padding-bottom: 60px;

    &__item {
      margin-right: 70px;
    }

    &__logo {
      display: inline-block;
      border-radius: 5px;
      margin-bottom: 30px;
    }
  }
}


.form {
  width: 200px;

  &__input {
    border: 1px solid $dots;
    background-color: $second-def;
    border-radius: 5px;
    padding: 13px 15px;
    width: 100%;
    margin-bottom: 12px;
    transition: box-shadow 0.5s, background-color 0.5s, color 0.5s;

    &:focus {
      box-shadow: 0 0 0 2px $accent;
      background-color: $second-def;
    }

    &::placeholder {
      transition: color 0.5s;
      font-size: 14px;
      color: $dots;
    }

    &:hover::placeholder {
      color: $text;
    }
  }

  &__icon {
    width: 14px;
    height: 13px;
    fill: $second-def;
    transition: fill 0.5s;
  }

  &__text {
    margin-left: 20px;
  }

  &__btn {
    @extend %rubik-medium;
    font-size: 14px;
    width: 100%;
    border-radius: 5px;
    padding: 13px 13px;
    color: $second-def;
    background-color: $accent;

    &:focus,
    &:hover,
    &:active {
      .form__icon {
        fill: $accent;
      }
    }
  }
}

.list__info {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  column-gap: 90px;
  grid-auto-rows: 43px;
  margin-right: 141px;
}

.list__link {
  border-radius: 5px;
}

.contacts-list {
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;


  &__addres {
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-bottom: 15px;
  }

  &__icon {
    fill: none;
    stroke: $text;
    width: 24px;
    height: 24px;
    stroke-width: 1.5;
    margin-right: 7px;
  }
}

.social-media {
  display: flex;

  &__item {
    background-color: $circle;
    border-radius: 100%;
    height: 39px;
    width: 39px;

    &:not(:last-child) {
      margin-right: 36px;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    height: 39px;
    width: 39px;
    margin-bottom: 61px;

    &:hover {
      fill: $second-def;
    }

    &:active {
      fill: $accent;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
  }
}

.footer-end {
  text-align: center;
  padding: 30px 0;
  margin: 0 auto;
  color: $second-def;
  font-size: 14px;
  line-height: 1;
  background-color: $title;
}

// --